<div class="container">
  <h3>Fill this Admin Profile Form</h3>
  <form [formGroup]="profileForm" (ngSubmit)="postProfile();">
    <div class="form-group">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control"  formControlName="email">
    </div>
    <div class="error-messages">
      <ng-container *ngFor="let error of error_messages.email">
        <div class="error-message" *ngIf="profileForm.get('email').hasError(error.type) &&
        (profileForm.get('email').dirty || profileForm.get('email').touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label>First Name</label>
        <input type="text" class="form-control" formControlName="firstname">
      </div>
      <div class="form-group col-6">
        <label>Last Name</label>
        <input type="text" class="form-control" formControlName="lastname">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Submit Profile</button>
  </form>
</div>
