<div class="container">
  <div *ngIf="showForm">
  <app-edit-role-list [item]="clickedUser" (boolForm)="addItem($event)"></app-edit-role-list>
</div>
<a class="text-info" routerLink="/dashboard">Back to dashboard</a><br>
<div class="form-group col-4">
  <input type="text" class="form-control" id="search-text" aria-describedby="search-text"
    [(ngModel)]="searchText" placeholder="Enter text to search"
    autofocus>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item" *ngFor="let c of characters | filter: searchText"
    appHighlight [searchedWord]="searchText" [content]="c"
    [classToApply]="'font-weight-bold'" [setTitle]="'true'">
    {{c}}
  </li>
</ul>
  <h3>List of Roles</h3>
  <table class="table">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <tr *ngFor="let user of userData">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.description}}</td>
      <td><button class="btn btn-sm btn-warning" (click)="edit(user)">Edit</button></td>
    </tr>
  </table>
</div>
