<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">J&F Projects</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard/user-list">User List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/role-list">Role List</a>
      </li>
    </ul>
  </div>
  <div align="right" class="text-info mx-3"> Hello {{name_of_user}}</div>
  <button class="btn btn-sm btn-dark" align="right" (click)="logout()">logout</button>
</nav>






