<div class="container">
  <h3>Fill this Admin Profile Form</h3>
  <form [formGroup]="accessForm" (ngSubmit)="postProfile();">
    <div class="form-group">
      <label>Id</label>
      <input type="text" class="form-control"  formControlName="id">
    </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label>description</label>
        <input type="text" class="form-control" formControlName="description">
      </div>
    <button type="submit" class="btn btn-primary" [disabled]="!accessForm.valid">Submit Profile</button>
  </form>
</div>
